# turborepo
.turbo
out

# vercel
.vercel

# svelte
.svelte-kit

# node
node_modules
npm-debug.log*

# testing
**/coverage
**/playwright-report
**/playwright-test-results
**/test-results

# OS
.DS_Store

# dotenv
.env*
!.env.example
