.DS_Store
.svelte-kit
.turbo
node_modules
/build
/package
.env
.env.*
!.env.example
vite.config.js*
CHANGELOG.md

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

# Vercel
.vercel

# Code Formatting is handled at the package level
/apps
/packages