// colors definition

$black-rich: #051727;

$blue-oxford: #08233c;
$blue-prussian: #0b2f51;
$blue-yale: #0d3b66;

$white: #fbfbfb;

$grey-anti-flash: #eaecec;
$grey-platinium: #dfe2e2;

// $orange-sandy: #fca152;
$orange-sandy: rgba(254 215 170 / .75);
$orange-crayola: #fe7040;

$green: #5cb85c;
$error: #ff3008;

// colors style definition

:root {
	--color-content-primary: #{$black-rich};
	--color-background-primary: #{$white};
	--color-background-secondary: #{$grey-anti-flash};
	--color-background-tertiary: #{$grey-platinium};
	--color-action-primary: #{$blue-prussian};
	--color-action-secondary: #{$blue-oxford};
	--color-brand-primary: #{$orange-sandy};
	--color-brand-secondary: #{$orange-crayola};
}

body.dark {
	--color-content-primary: #{$white};
	--color-background-primary: #{$black-rich};
	--color-background-secondary: #{$blue-oxford};
	--color-background-tertiary: #{$blue-prussian};
	--color-action-primary: #{$grey-platinium};
	--color-action-secondary: #{$white};
	--color-brand-primary: #{$orange-sandy};
	--color-brand-secondary: #{$orange-crayola};
}

body.light {
	--color-content-primary: #{$black-rich};
	--color-background-primary: #{$white};
	--color-background-secondary: #{$grey-anti-flash};
	--color-background-tertiary: #{$grey-platinium};
	--color-action-primary: #{$blue-prussian};
	--color-action-secondary: #{$blue-oxford};
	--color-brand-primary: #{$orange-sandy};
	--color-brand-secondary: #{$orange-crayola};
}
