// colors definition

$white: #fbfbfb;
$white-smoke: #f4f5f5;
$white-anti-flash: #eaecec;

$grey-platinium: #dfe2e2;
$grey-disabled: #afb3b5;
$grey: #7f8387;
$grey-outer-space: #41474d;
$grey-gun-metal: #222930;

$black: #051727;

$black-o25: hsla(208, 77%, 9%, 0.25); // todo: refactor

$blue-oxford: #08233c;
$blue-prussian: #0b2f51;
$blue-yale: #0d3b66;

$orange-sunset: #ffd797;
$orange-earth: #ffc675;
$orange-sandy-light: #feb464;
$orange-sandy: #fca152;
$orane-atomic-tangerine: #fd8949;
$orange-crayola: #fe7040;

$success: #5cb85c;
$error: #ff3008;

// colors style definition

:root {
	// header
	--header-color-background: #{$white};
	--header-color-border: #{$orange-sandy};

	// button
	--button-color-background-primary: #{$orange-sandy};
	--button-color-background-primary-hover: #{$orange-sandy-light};
	--button-color-content-primary: #{$white};

	--button-color-background-secondary: #{$blue-prussian};
	--button-color-background-secondary-hover: #{$blue-yale};
	--button-color-content-secondary: #{$white};

	--button-color-background-tertiary: #{$orange-crayola};
	--button-color-background-tertiary-hover: #{$orane-atomic-tangerine};
	--button-color-content-tertiary: #{$white};

	--button-color-background-disabled: #{$grey-disabled};
	--button-color-content-disabled: #{$white};

	// mini button

	--mini-button-color-background-primary: #{$white};
	--mini-button-color-background-primary-hover: #{$white-anti-flash};
	--mini-button-color-content-primary: #{$blue-prussian};
	--mini-button-color-content-primary-hover: #{$black};

	--mini-button-color-background-secondary: #{$white-anti-flash};
	--mini-button-color-background-secondary-hover: #{$grey-platinium};
	--mini-button-color-content-secondary: #{$blue-prussian};
	--mini-button-color-content-secondary-hover: #{$black};

	--mini-button-color-content-disabled: #{$grey-disabled};

	// color
	--color-font-primary: #{$black};
	--color-background-primary: #{$white};
	--color-background-secondary: #{$white-smoke};
	--color-background-tertiary: #{$white-anti-flash};
	--color-background-FORTH: #{$grey-platinium};
	--color-error: #{$error};
	// input
	--input-color-background-primary: #{$grey-platinium};
	// icon
	--icon-color-primary: #{$orange-sandy};
	--icon-color-success: #{$success};
	--icon-color-error: #{$error};
	// shadow
	--shadow-color: #{$black-o25};
}

body.dark {
	--header-color-background: #{$blue-prussian};
	--header-color-border: #{$orange-crayola};
	--button-color-background-primary: #{$orange-sandy};
	--button-color-background-primary-hover: #{$orange-crayola};
	--button-color-background-secondary: #{$blue-prussian};
	--button-color-background-secondary-hover: #{$blue-yale};
	--button-content-color-primary: #{$white};
	--button-content-color-secondary: #{$white-anti-flash};
	--button-content-color-primary-hover: #{$white};
	--button-content-color-secondary-hover: #{$white};
	--color-font-primary: #{$white};
	--color-background-primary: #{$black};
	--color-background-secondary: #{$blue-oxford};
	--color-background-tertiary: #{$blue-yale};
	--icon-color-primary: #{$orange-sandy};
}

body.light {
	--header-color-background: #{$white};
	--header-color-border: #{$orange-sandy};
	--button-color-background-primary: #{$orange-sandy};
	--button-color-background-primary-hover: #{$orange-crayola};
	--button-color-background-secondary: #{$white};
	--button-color-background-secondary-hover: #{$white-anti-flash};
	--button-content-color-primary: #{$white};
	--button-content-color-secondary: #{$blue-prussian};
	--button-content-color-primary-hover: #{$white};
	--button-content-color-secondary-hover: #{$black};
	--color-font-primary: #{$black};
	--color-background-primary: #{$white};
	--color-background-secondary: #{$white-anti-flash};
	--color-background-tertiary: #{$grey-platinium};
	--icon-color-primary: #{$orange-sandy};
}
