$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-36: 2.25rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-80: 5rem;
$spacing-96: 6rem;
$spacing-128: 8rem;
$spacing-160: 10rem;
$spacing-192: 12rem;
