$color-white: #fbfbfb;

// Primary
$color-primary: #10497e;
$color-primary-bg: #0d3b66;
$color-gradient-primary: linear-gradient(
	to bottom right,
	$color-primary-bg,
	$color-primary,
	#135490
);

// Secondary
$color-secondary: #fd8949;
$color-secondary-bg: #fe7040;
$color-secondary-bg-2: #fe7040;

// Neutral
$color-neutral: #f4f5f5;
$color-neutral-bg: #fbfbfb;
$color-neutral-bg-500: #eaecec;

$color-success: #5cb85c;
$color-error: #ff3008;

// neutral
// primary > blue
// secondary > orange
