$white: #fbfbfb;
$white-smoke: #f4f5f5;
$white-anti-flash: #eaecec;

$grey-platinium: #dfe2e2;
$grey-disabled: #afb3b5;
$grey: #7f8387;
$grey-outer-space: #41474d;
$grey-gun-metal: #222930;

$black: #051727;

$black-o25: hsla(208, 77%, 9%, 0.25); // todo: refactor

$blue-oxford: #08233c;
$blue-prussian: #0b2f51;
$blue-yale: #0d3b66;

$orange-sunset: #ffd797;
$orange-earth: #ffc675;
$orange-sandy-light: #feb464;
$orange-sandy: #fca152;
$orane-atomic-tangerine: #fd8949;
$orange-crayola: #fe7040;

$success: #5cb85c;
$error: #ff3008;
